Carangos.xcworkspace/xcuserdata/erich.xcuserdatad/UserInterfaceState.xcuserstate
Carangos.xcodeproj/project.xcworkspace/xcuserdata/erich.xcuserdatad/UserInterfaceState.xcuserstate
Carangos.xcodeproj/xcuserdata/osni.xcuserdatad/
Carangos.xcworkspace/xcuserdata/osni.xcuserdatad/
Pods/Pods.xcodeproj/xcuserdata/osni.xcuserdatad/
.DS_Store

